<div class="content-container">
  <div class="content-area">
    <div class="alert-section">
      <app-alert></app-alert>
    </div>

    <div class="clr-row">
      <div class="clr-col-12">
        <h2 style="text-align: center">Customers</h2>
        <clr-datagrid [clrDgLoading]="loading" (clrDgRefresh)="refresh($event)">
          <clr-dg-placeholder class="content-center">No Customers!</clr-dg-placeholder>
          <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
          <clr-dg-column [clrDgField]="'firstName'">
            <ng-container *clrDgHideableColumn="{hidden: false}">First Name</ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'lastName'">
            <ng-container *clrDgHideableColumn="{hidden: false}">Last Name</ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'city'">
            <ng-container *clrDgHideableColumn="{hidden: false}">City</ng-container>
            <clr-dg-filter [clrDgFilter]="cityFilter">
              <app-checkbox-filter
                #cityFilter
                [filterValues]="cityFilterValues"
                filterKey="city"></app-checkbox-filter>
            </clr-dg-filter>
          </clr-dg-column>
          <clr-dg-column>Action</clr-dg-column>
          <!-- structural directive -->
          <clr-dg-row *ngFor="let customer of customerPage?.content">
            <clr-dg-cell>{{customer.id}}</clr-dg-cell>
            <clr-dg-cell>{{customer.firstName}}</clr-dg-cell>
            <clr-dg-cell>{{customer.lastName}}</clr-dg-cell>
            <clr-dg-cell>{{customer.city}}</clr-dg-cell>
            <clr-dg-cell>
              <cds-icon shape="trash" style="cursor: pointer; color: blue" (click)="deleteCustomer(customer)">
              </cds-icon>
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10" [(clrDgPage)]="page"
                               [clrDgTotalItems]="total">
              <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Customers per page</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} customers
            </clr-dg-pagination>
          </clr-dg-footer>

        </clr-datagrid>
      </div>
    </div>

    <div class="clr-row">
      <div class="clr-col-12">
        <form class="clr-form clr-form-horizontal">
          <div class="clr-form-control">
            <label for="firstName" class="clr-control-label">First Name</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <!-- two way data binding -->
                <input type="text" [(ngModel)]="customer.firstName" id="firstName" name="firstName"
                       placeholder="Placeholder" class="clr-input"/>
              </div>
            </div>
          </div>
          <div class="clr-form-control">
            <label for="lastName" class="clr-control-label">Last Name</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input [(ngModel)]="customer.lastName" type="text" id="lastName" name="lastName"
                       placeholder="Placeholder" class="clr-input"/>
              </div>
            </div>
          </div>
          <div class="clr-form-control">
            <div class="clr-control-container">
              <!-- event binding -->
              <button type="submit" class="btn btn-primary" (click)="saveCustomer()">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
